{% extends "base_mypage.html" %}

{% block mypage_content %}
<div class="mypage-layout">
    <div class="left-column">
        {% include "components/profile.html" %}
    </div>

    <div class="right-column">
        {% include "components/heatmap.html" %}  {# 🔥 히트맵 추가 #}

        <div class="post-list">
            <h3>{{ writer }}님의 작성한 글 목록</h3>
            {% if posts %}
                {% for post in posts %}
                    {% include "components/post_card.html" %}
                {% endfor %}
            {% else %}
                <p>작성한 글이 없습니다.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
